body {
    position: relative;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

.name {
    position: fixed;
    top: 0;
    margin: 20px 0 0 20px;
    width: 500px;
    z-index: 999;
}

.name h3 {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #999;
    letter-spacing: .3em;
    text-transform: uppercase;
}

.nav-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0;
    width: 130px;
    z-index: 999;
    text-align: right;
}

.nav-bar #bars-btn {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-align: right;
    color: #ccc;
    font-stretch: expanded;
    margin: 16px 16px 0 0 ;

}

.nav-bar #bars-btn:hover {
    cursor: pointer;
}

.nav-bar nav {
    margin: 16px 20px 0 0;
    padding: 0;
    text-align: right;
}

.nav-bar nav .nav-btn {
    display: block;
    position: relative;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #999;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    right: 0px;
    width:100%;
    -webkit-transition: .2s ease;
            transition: .2s ease;
}

.nav-bar nav .nav-btn:hover {
    opacity: .5;
    right: 8px;
    cursor: pointer;

}

.nav-bar nav #x-btn {
    display: block;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ccc;
    text-align: right;
    margin-right: 6px;
    margin-top: -8px;
}

.nav-bar nav #x-btn {
    cursor: pointer;
    -webkit-transition: 0.2s ease;
            transition: 0.2s ease;
}

.nav-bar nav #x-btn:hover {
    opacity: .5;
}

.container {
    position: relative;
    width:100vw;
    height: 100vh;
    top: 0;
}

#home {

}

#home #copy {
    position: absolute;
    display: block;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform:translateX(-50%); /* Firefox */
    -ms-transform:translateX(-50%); /* IE 9 */
    -o-transform:translateX(-50%); /* Opera */
    z-index: 999;
    font-size: 46px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: center;
    line-height: 1.3em;
}

#home #copy span {
    font-weight: 500;
    color: #04c536;
    /*text-transform: uppercase;*/
}

#home #copy #arrow {
    display: block;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    color: #BFC0C0;
    font-size: 32px;
    transform:scale(2,1); /* W3C */
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
}

#home #copy #arrow:hover {
    text-shadow: 0 0 12px #04c536;
    color: #dafde3;
    cursor: pointer;
    margin-top: 6px;
}

#about {
    background-color: #fff;
}

#about #copy h2 {
    position: absolute;
    display: block;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform:translateX(-50%); /* Firefox */
    -ms-transform:translateX(-50%); /* IE 9 */
    -o-transform:translateX(-50%); /* Opera */
    z-index: 1;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    font-weight: 700;
    text-align: left;
    line-height: 0.8em;
    letter-spacing: .1em;
}

#about #copy h4 {
    position: absolute;
    display: block;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform:translateX(-50%); /* Firefox */
    -ms-transform:translateX(-50%); /* IE 9 */
    -o-transform:translateX(-50%); /* Opera */
    z-index: 1;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 300;
    text-align: center;
    line-height: 1.6em;
}

#skills {
    background-color: #2e3242;
}

#top-bar-skills {
    background-color: #2e3242
}

#skills #copy h2 {
    position: absolute;
    display: block;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform:translateX(-50%); /* Firefox */
    -ms-transform:translateX(-50%); /* IE 9 */
    -o-transform:translateX(-50%); /* Opera */
    z-index: 1;
    font-size: 90px;
    font-family: 'Roboto', sans-serif;
    color: #393f58;
    font-weight: 700;
    text-align: left;
    line-height: 0.8em;
    letter-spacing: .25em;
    text-transform: uppercase;
}

#skills #copy ul {
    position: absolute;
    display: block;
    top: 36%;
    left: 50%;
    width: 70%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
}

#skills #copy ul li {
    margin: 40px 56px;
}

#skills #copy ul li span {
    display: block;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 400;
    margin-bottom: 8px;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}


#skills #copy ul li img {
    display: block;
    height: 75px;
    margin: 0 auto;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

#contact {
    background-color: #fff;
}

#contact #copy h2 {
    position: absolute;
    display: block;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform:translateX(-50%); /* Firefox */
    -ms-transform:translateX(-50%); /* IE 9 */
    -o-transform:translateX(-50%); /* Opera */
    z-index: 1;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    font-weight: 700;
    text-align: left;
    line-height: 0.8em;
    letter-spacing: .2em;
    text-transform: uppercase;
}

#contact #copy #content {
    position: absolute;
    display: block;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform:translateX(-50%); /* Firefox */
    -ms-transform:translateX(-50%); /* IE 9 */
    -o-transform:translateX(-50%); /* Opera */
    z-index: 1;
}

#contact #copy #email {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 24px;
}

#contact #copy #email img {
    width: 75px;
    margin: 0 auto;
}

#contact #copy a {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    opacity: 1;
    font-weight: 400;
    text-align: center;
    line-height: 1.6em;
    -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
}

#contact #copy a:hover {
    opacity: .5;
}

#contact #copy ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 56px 0;
}

#contact #copy ul li a{
    margin: 32px 48px;
    opacity: .6;
    -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
}

#contact #copy ul li a:hover {
    opacity: 1;
    cursor: pointer;
}

.top-bar {
    display: block;
    height: 70px;
    width: 100vw;
    z-index: 5;
}

#top-about {
    background-color: #fff;
}

#top-skills {
    background-color: #2e3242;
}

.fixed {position:fixed; top:0; left:0;}

.darker-color {color:#565656 !important;}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

@media screen and (max-width: 480px) {
    .name h3 {
        font-size: 1.3em;
        letter-spacing: .3em;
    }
    .nav-bar nav {
        background-color: #000;
        padding: 8px;
        opacity: .8;
    }
    #home #copy {
        font-size: 1.9em;
        top: 20%;
    }
    #home #copy #arrow {
        font-size: 1em;
    }
    #about #copy h2{
        font-size: 3.8em;
        top:12%;
    }
    #about #copy h4{
        font-size: 1.1em;
        top:34%;
        left: 30%;
        transform: translateX(-20%);
        -webkit-transform: translateX(-20%);
        -moz-transform:translateX(-20%); /* Firefox */
        -ms-transform:translateX(-20%); /* IE 9 */
        -o-transform:translateX(-20%); /* Opera */
    }
    #skills #copy h2 {
        top: 12%;
        font-size: 5em;
        letter-spacing: .1em;
    }
    #skills #copy ul {
        top: 26%;
    }
    #skills #copy ul li {
        margin: 18px;
    }
    #contact #copy h2 {
        top: 14%;
        font-size: 3.4em;
        letter-spacing: .1em;
    }
    #contact #copy #content {
        top: 30%;
    }
    #contact #copy ul li a{
        margin: 32px 20px;
    }
    .container {
        overflow: auto;
    }
}
